{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="form-container">
    <h2>Login</h2>
    <form method="POST">
        <input type="text" name="username" placeholder="Usuário" required>
        <h2>
            
        </h2>
        <input type="password" name="password" placeholder="Senha" required>
        <button type="submit" class="btn">Entrar</button>
    </form>
    <p>Não tem conta? <a href="{{ url_for('auth.register') }}">Cadastre-se</a></p>
</div>
{% endblock %}
